<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding</title>
</head>
<body>
<h2>Adding</h2>
<h3>Fills a information of new user</h3>
<div>
    <form name="add" action="/add" method="POST">
        <label for="email">Email : </label>
        <input type="text" name="email" placeholder="Email..">

        <label for="password">Password : </label>
        <input type="text" name="password" placeholder="Password..">

        <label for="fname">First Name : </label>
        <input type="text" name="fname" placeholder="First name..">

        <label for="lname">Last Name : </label>
        <input type="text" name="lname" placeholder="Last name..">

        <label for="age">Age : </label>
        <input type="text" name="age" placeholder="Age..">

        <input type="submit" value="Submit">
    </form>
</div>

<form name="index" action="/">
    <input type="submit" value="Back">
</form>

</body>
</html>